<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--Nombre que aprecera en la pestaña del navegador -->
    <title>Ajedrez</title>
    <!--Para poder acceder a nuestra hoja de estilos-->
    <link rel="stylesheet" href="../Statics/CSS/Ajedrez.css">
  </head>
  <!--Indicar el inico del cuerpo de nuestro html-->
  <body>
    <!--Par poder utilizar nuestro archivo Ajedrez.js-->
    <script type="text/javascript" src="../Dynamics/JS/Ajedrez.js"></script>
  </body>
</html>
