<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--Nomvre que aparecera en la pestaña del navegador-->
    <title>Constuyendo con Dom</title>
    <!--Para poder ocupar nuestra hoja de estilos-->
    <link rel="stylesheet" href="../statics/CSS/style.css">
  </head>
  <!--Indicar el inicio del body de la pagina-->
  <body>
    <!--Para poder utilizar nuestro archivo ConstruyendoDom.js-->
    <script type="text/javascript" src="../Dynamics/JS/ConstruyendoDom.js"></script>
  </body>
</html>
