<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--El titulo que aparcerea en la pestaña del navegador-->
    <title>Snake</title>
    <!--Para poder ocupar nuestra hoja de estilos snake.css-->
    <link rel="stylesheet" href="../Statics/snake.css">
  </head>
  <body>
    <!--Titulo que aprecera en el contenido-->
    <h1>Snake</h1>
    <!--Seccion que contendra al juego-->
    <div class="seccion">
    <!--Seccion que contendra el campo-->
    <div id="campo"></div>
      <!--Seccion que contendra el campo-->
      <div class="botones">
        <!--Botones que haran que el juego funcione-->
        <p><button id="arriba">Arriba</button></p>
        <button id="izquierda">Izquierda</button>
        <button id="derecha">Derecha</button>
        <p><button id="abajo">Abajo</button></p>
      </div>
      <!--Para poder ocupar nuestro script snake.js-->
      <script src="../Dynamics/JS/snake.js" charset="utf-8"></script>
    </div>
  </body>
</html>
