/*Darle estilo a la etiqueta h2*/
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
/*Darle estilo a la etiqueta select*/
select {
    display: inline;
}
/*Darle estilo a la clase form-container*/
.form-container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
/*Darle estilo a la clase form-container con form>div*/
.form-container form>div {
    margin: auto;
    padding: 1em;
}
/*Darle estilo a la etiqueta input con pseudoclase submit*/
input[type="submit"] {
    background-color: navy;
    line-height: 2;
    padding: 0 1em;
    border: none;
    align-self: center;
    color: white;
}
